.connect{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin-top:10%;
    width:100%;
    background-color:rgb(49,49,53);
    color:rgb(230,227,211);
    margin-bottom:500px;
    padding-top:5%;
    padding-bottom:5%;
}

.connect-header{
    font-size:3rem;
}