.skills{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin-top:5%;
    width:75%;
    margin-left:13%;
    padding: 10px 10px;
}

.skills-header{
    margin-bottom:1.5rem;
    font-size:3rem;
    color:rgb(49,49,49);
}

.skills-body{
    display:flex;
    justify-content:center;
    align-items:center;
}

.skills-body div{
    font-size:1.5rem;
    margin-left:1.5rem;
    margin-right:1.5rem;
}

.skills-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.skills-item-img {
    width:90%;
}