.skills{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin-top:20%;
    width:75%;
    margin-left:13%;
    padding: 10px 10px;
}

.skills-header{
    margin-bottom:1.5rem;
    font-size:3rem;
    color:rgb(49,49,49);
}

.skills-body{
    display:flex;
}

.skills-subsection{
    font-weight:700;
    font-size:1.5rem;
    color:rgba(49, 49, 49, 0.774);
}