.skills{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin-top:5%;
    width:100%;
    color:rgb(240,240,240);
    background-color:rgb(52,52,59);
    padding-bottom:2%;
    padding-top:2%;
}

.skills-header{
    margin-bottom:1.5rem;
    font-size:3rem;
    color:rgb(230,227,211);
}

.skills-body{
    display:flex;
    justify-content:center;
    align-items:center;
}

.skills-body div{
    font-size:1.5rem;
    margin-left:1.5rem;
    margin-right:1.5rem;
}

.skills-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.skills-item-img {
    width:60%;
    margin-bottom:20px;
}