.about{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    margin-top:10%;
    width:100%;
    background-color:rgb(52,52,59);
    color:rgb(230,227,211);
    padding-top:8%;
    padding-bottom:8%;
}

.about-header{
    font-size:3rem;
    margin-bottom:2rem;
}

.about-content{
    margin-left:5rem;
    max-width:60%;
    margin-bottom:2rem;
}

.about-content div{
    max-width:90%;
    margin-bottom:4rem;
}