.home{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:10%;
    width:75%;
    margin-left:15%;
}

.home-wrapper{
    padding: 10px 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.profile-picture{
    width:30%;
    height:20rem;
    margin-right:5rem;
    border:5px solid grey;
    background-color:rgb(49,49,49);
    border-radius: 25px;
}


.profile-details{
    display:flex;
    flex-direction:column;
    align-items:left;
    width:70%;
}

.name{
    font-weight:700;
    font-size:3rem;
    text-align:left;
    margin-bottom:4rem;
    color:rgb(49,49,49)
}

.description{
    text-align:left;
    margin-bottom:4rem;
    color:rgb(49,49,49);
    font-size:2rem;
    max-width:80%;
}

.button.cv{
    width:30%;
    height:5rem;
    font-weight:700;
    font-size:1.8rem;
    background:rgb(49, 49, 49);
    color:rgb(255, 255, 255);
    border-radius:0.5rem;
}

