
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:rgb(0, 0, 0);
    height:7vh;
    position:fixed;
    z-index:1;
    top:0;
    right:0;
    left:0;
    background-color:rgba(46,46,53,0.99);
    color:rgb(230,227,211);
    transition: all 0.3s;
    
}

.navbar.inactive{
    top:-6rem;
    transition: all 0.3s;
}

.navbar a{
    text-decoration:none;
}

.nav-link{
    margin-right:20px;
    margin-left:20px;
    font-size:1.6rem;
    cursor:pointer;
}

.left-section{
    margin-left:1rem;
}

.right-section{
    margin-right:1rem;
    display:flex;
    
}
