.footer{
    bottom:0;
    left:0;
    right:0;
    background:rgb(52,52,59);
    color:rgb(230,227,211);
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    height:7vh;
    border-top:2px solid rgb(230,227,211);
}