*{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  box-sizing:border-box;
  list-style:none;
}

body{
  background: rgb(65,65,65);
  background: radial-gradient(circle, rgb(240, 240, 240) 0%, rgb(231, 231, 231) 100%);
  font-family: 'League Spartan';
}
